
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #303030a8;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.btn-sizes{
  background: #1a83ff;
  color: #fff;
  border: none;
  font-size: 10px;
  font-weight: 600;
  margin: 5px;
  padding: 4px;
  box-shadow: -1px 6px 10px rgb(0 0 0 / 20%);
  border-radius: 14px;
  width: 54px;
}