@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Saira+Extra+Condensed:wght@100;200;300;500;700&display=swap');
.font_primary{
    font-family: 'Saira Extra Condensed', sans-serif;
}
body{
    background: #303030;
}
.font_description{
    font-family: 'Mulish', sans-serif;
}
*{
    margin: 0; padding: 0; box-sizing: border-box;
}

.primary_color{
    color: tomato;
}
.medium_color{
    color: #1a83ff;
}
.high_color{
    color: #d400d4;
}